page{
  background-color: grey;
}
  .user_info_wrap {
    height: 25vh;
    overflow: hidden;
    position: relative;
    background-color: #fab300;
      .userinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        
        .userinfo-avatar{
          overflow: hidden;
          width: 128rpx;
          height: 128rpx;
          margin: 20rpx;
          border-radius: 50%;
      }
    }
  }

  .user_content{
    position:relative;
    .user_main{
      position:absolute;
      width:90%;
      left:50%;
      transform: translateX(-50%);
      top:-50rpx;

      .history_wrap{
        background-color:#fff;
        display: flex;
        border-radius: 10rpx;
        navigator{
          flex:1;
          text-align:content;
          text-align: center;
          padding: 10rpx 5rpx;
          .his_num{
            color:red;
          }
          .his_name{
            font-size: small;
          }
        }

      }
    }
  }